.firstdiv{
    text-align: center;
    margin:auto;
    background-color:white;
    height:7cm ;
    width: 11.5cm;
    border-color:#e6dada;
    border-style: solid;
    border-radius:5px ;
    border-width: 1px;
}
.input{
    width: 10cm;
    height: .8cm;
    margin-top:5px ;
    border-radius:5px; 
   border-color: #e6dada;
   border-style: solid;
   border-width: 1px;

}
.button{
    width: 10cm;
    height: 1cm;
    margin-top:5px ;background-color:#2ea44f;
    color: white;
    font-size: 17px;
    border:0cm;
    
    border-radius: 5px;
    
}
.nextdiv{
    text-align: center;
    margin:auto;
    background-color:white;
    height:1.5cm ;
    width: 11.5cm;
    margin-top: 1cm;
    border-color:#e6dada;
    border-style: solid;
    border-radius:5px ;
    border-width: 1px;
    
}
.lastdiv{
    text-align: center;
    margin:auto;
    height:1.5cm ;
    width: 11.5cm;
    margin-top: 1cm;
}
.terms{
    text-decoration: none;
    margin-right: 20px;
}
.input:hover{
    border-color: blueviolet;
   
}

.button:hover{
    background-color:#1c8a3b;
}